<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

  <!-- jQuery --!>
  <script src="/assets/js/jquery/jquery-3.2.0.min.js"></script>
  <script src="/assets/js/nav.js"></script>

</html>
